@import "../main/config";

.game-board {
    background-color: rgb(143, 140, 140);
    height: fit-content;
    width: 400px;
    &__row {
        background-color: rgb(119, 194, 206);
        width: 100%;
        height: 100px;
        margin: 10px 0px;
        @include flexCenter();
        
        &__circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgb(227, 227, 227);
            margin: 10px;
            @include flexCenter();

            &__btn{
                border: solid 2px black;
                cursor: pointer;
            }
        }
    }
}